[Unit]
Description=VM GPU Monitor
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/vm-fan-control
ExecStart=/usr/bin/python3 /home/arthur/GitHub\ Projects/vm-fan-control/vm_monitor.py 192.168.1.68 8888
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target